---
import { getCollection, render } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const news = await getCollection('news');
const posts = await Promise.all(news.reverse().map(async (entry) => {
    const { Content } = await render(entry);
    return { Content, data: entry.data };
}));
---

<Layout title="Aktuality">
    <h1>Aktuality</h1>
    {posts.map(({ Content, data}) => {
        return (
            <h2>{data.title}</h2>
            <Content />
            <small>Přidáno {data.date.toLocaleDateString()}</small>
        );
    })}
</Layout>