---
const items = [
    { url: '/', label: 'Úvod' },
    { url: '/aktuality', label: 'Aktuality' },
    { url: '/prirucka', label: 'Příručka' },
    { url: '/reference', label: 'Reference' },
    { url: '/seminare', label: 'Semináře' },
];

const isActive = (url: string) => {
    const { pathname } = Astro.props;
    if (url === '/') return pathname === url;
    return Astro.props.pathname.startsWith(url);
}
---
<nav class={`${Astro.props.class} flex gap-4 flex-wrap justify-evenly sm:justify-normal`}>
    {items.map(({ url, label}) => <a href={url} class={`${ isActive(url) ? 'underline' : ''} hover:underline active:underline`}>{label}</a>)}
</nav>