---
import '../styles/global.css';

const baseTitle = 'Jaroslav Pavlíček';
const providedTitle = Astro.props.title || Astro.props.frontmatter?.title;
const title = providedTitle
	? `${baseTitle} | ${providedTitle}`
	: baseTitle;
---

<!doctype html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-serif">
		<div class="mx-auto w-full p-4 min-w-60 sm:w-3/4 xl:w-1/2">
			<nav class="mb-6 flex gap-4 flex-wrap">
				<a href="/">Úvod</a>
				<a href="/aktuality">Aktuality</a>
				<a href="/prirucka">Příručka</a>
				<a href="/reference">Reference</a>
				<a href="/seminare">Semináře</a>
			</nav>
			<article class="prose max-w-none">
				<slot />
			</article>
			<footer class="my-8 text-right">
				&copy; Jaroslav Pavlíček {new Date().getFullYear()}
			</footer>
		</div>
	</body>
</html>
